@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


.Container{
    display: flex;
    flex-direction: column;
    width: 215px;
    height: 410px;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #0f243b;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0px 0px 15px black;
    transition: transform 1s;
    position: relative;
}

.Container__IMG{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 215px;
    height: 300px;
}

.Container__IMG__Link{
    display: flex;
    width: 215px;
    height: 300px;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    /* outline: 1px solid yellow; */
    padding: 0;
}

.Container__IMG_IMG{
    width: 300px;
    height: 300px;
}

/* .Container__IMG_gender{
    position: absolute;
    margin: 0.5rem;
    background-color: rgb(82, 82, 249);
    padding: 5px 10px;
    color: white;
    border-radius: 3px;
    font-family: 'Noto Sans', sans-serif;
}

.Container__IMG_format{
    position: absolute;
    margin: 0.5rem;
    background-color: rgb(255, 0, 0);
    padding: 5px 10px;
    color: white;
    border-radius: 3px;
    right: 0;
    font-family: 'Noto Sans', sans-serif;
} */

.Container__Information{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;
    width: 100%;
    transition: all 1s;
    padding: 0.5rem;
}

.Container__Information__Heart{
    align-self: flex-end;
    margin-right: 0.5rem;
}

.Container__Information__Heart svg{
    color: red;
    font-size: 1.2rem;
    cursor: pointer;
}

.Container__Information__Heart svg:active{
    transform: scale(1.2);
}

.Container__Information__ContainerAuthorAndPrice{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.Container__Information_title{
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 2px;
    font-size: 0.8rem;
    margin-left: 0.5rem;
    width: 100%;
    margin-bottom: 0.5rem;
    word-wrap: break-word;
    text-decoration: none;
    color: white;
}

.Container__Information__ContainerAuthorAndPrice_author{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
    margin-left: 0.5rem;
    width: 100%;
    transition: all 500ms;
    word-wrap: break-word;
}

.Container__Information__ContainerAuthorAndPrice_price{
    align-self: flex-end;
    font-family: 'Ubuntu', sans-serif;
    transition: opacity 500ms;
    margin-right: 0.5rem;
    width: 40%;
    word-wrap: break-word;
    text-align: end;
    position: absolute;
    top: 290px;
    left: -20px;
}

.Container__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 215px;
    top: 410px;
    opacity: 0;
    transition: all 1s;
}

.Container__Information_btn{
    align-self: center;
    padding: 5px 10px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-weight: 600;
    color: white;
}

.Container__Information_btn:active{
    transform: scale(1.05);
}

.Container__Information_btnTrue{
    background-color: red;
}

.Container__Information_btnFalse{
    background-color: rgb(10, 163, 10);
}

.Container__Information_btnFalse:hover{
    background-color: rgb(0, 101, 0);
}

.Container:hover > .Container__Information p:nth-child(1){
    opacity: 0;
}

.Container:hover > .Container__btn{
    opacity: 1;
    top: 370px;
}

.Container:hover{
    transform: translateY(-10px);
}