 .carruselito .swiper {
    width: 100%;
    max-width: 1600px;
    position: relative;
  }
/*
 .carruselito .swiper .swiper-slide {
    width: 250px;
  }

 .carruselito .swiper img {
    height: 255px;
    width: 100%;
    object-fit: cover;

  } */

  /* @media (min-width: 1024px) {
    .swiper img {
      height: 344px;
    }
  } */

  .carruselito .swiper .swiper-button-prev,
  .carruselito .swiper .swiper-button-next {
    --swiper-navigation-size: 40px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    height: 70px;
    width: 50px;
    margin-top: -35px;

    opacity: 1;
    /* transition: opacity 0.3s; */
  }

 .carruselito .swiper .swiper-button-prev {
    border-radius: 10px 10px 10px 10px;
    left: -10px;
  }
  .carruselito .swiper .swiper-button-next {
    border-radius: 50px 50px 50px 50px;
    right: -10px;
  }

  .swiper:hover .swiper-button-prev,
  .swiper:hover .swiper-button-next {
    opacity: 1;
  }
  .carruselito .swiper-button-disabled{
    display:none;   
}

.link-slide{
    text-decoration:none;
}

.carruselito{
  margin-top: 140px;
}

.slide-container .slide-image img{
    width: 200px;
    height: 300px;
}

h2{
  font-size: 26px;
  font-weight: 300;
  margin-left: 12px;
}
.slide-container{
  background-color: #0a1929;
  /* box-shadow: 0px 0px 15px black; */
  /* margin-left: 10px;
  margin-right: 10px; */
  width: 215px;
  height: 300px;
}


.carruselito .swiper .swiper-slide{
  width: 200px;
}
