/* .wrapper {
    position: relative;
    padding: 5px;
    margin-left: 45%;
}
.input {
    height: 40px;
    font-size: 18px;
    color: #222;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
    justify-content: end;
}
.btn {
    width: 50px;
    height: 50px;
    line-height: 55px;
    top: 0;
    right: 0;
    position: absolute;
    background: linear-gradient(to left, #162f3a, #325865, #38748e);
    text-align: center;
    color: white;
    font-size: 18px;
    border-radius: 50%;
    cursor: pointer;
}
.dentro {
    background-color: #38748e;
}

/* .option {
    height: 200px !important;
    overflow: auto;
    width: 220px;
} */ */
